ul {
    list-style: none;
    list-style-type: none;
    font-size: 24px;
    justify-content: center;
    border-radius: 15px;
    border-style: solid;
    border-color: grey;
    padding: 0;
}

li{
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}

li:nth-child(odd)
{
    background-color: #E5E7E9;
}

.welcome{
    font-size: 50px;
    text-align: center;
}

.identity-colour{
    background-color: pink;
}

li a {
    display: block;
    border-radius: 0px;
    text-decoration: none;
    list-style-type: none;
    display: inline;
  }

.nav{
      background-color: #CB1C8A;
      overflow: hidden;
      border-radius: 15px;
      justify-content: center;
}

.nav a{
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover{
    background-color: #f3a5d6;
}

